
/* ======================== DESIGN PAGE ========================= */

.div-right{
  align-items: right;
}

.back-body{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(180deg, #ffffff8b 90%, #ffffffd1 70%);
}

.footer{
  align-items: center;
  justify-content: center;
  color:#ffffff;
  background: #00000082;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  }

.left-column {
  width: 50%; /* Define a largura da coluna esquerda */
  padding: 20px;
  background-image: linear-gradient(180deg, #e7473cc0 90%, #ffffffd1 70%);
  height: 30%;
}

.right-column {
  width: 40%; /* Define a largura da coluna direita */
  padding: 20px;
  background-image: linear-gradient(180deg, #000000e0 90%, #000000 70%);
  justify-self: end;
  justify-content: baseline;
  position:relative;
}

  .bodyy {
    justify-self: center;
    padding: 20px;
    display:flow-root;
    align-items: baseline;
    min-height: 80vh;
    background-image: linear-gradient(180deg, #0000008e 90%, #0000007e 70%);
    color: #ffffff;
    width: 100%;

  }

/* =========================== CUBO ========================= */
  
  .cube {
    width: 180px;
    height: 180px;
    align-items: center;
    position: absolute;
    animation: rotate 20s infinite alternate;
    transform-style: preserve-3d;
    justify-self: end;
    justify-content: baseline;
    position:relative;
  }
  
  .face {
    background: linear-gradient(45deg, #f53f3f22, #d13b3b22);
    border: 2px solid #ff0000ca;
    display: flex;
    align-items: center;
    justify-content: center;
  
    font-size: 26px;
    font-weight: bold;
    color: #000000;
  
    width: 180px;
    height: 180px;
    position: absolute;
  }
  
  .face--front {
    transform: translateZ(90px);
  }
  
  .face--right {
    transform: rotateY(90deg) translateZ(90px);
  }
  
  .face--back {
    transform: rotateY(180deg) translateZ(90px);
  }
  
  .face--left {
    transform: rotateY(-90deg) translateZ(90px);
  }
  
  .face--top {
    transform: rotateX(90deg) translateZ(90px);
  }
  
  .face--bottom {
    transform: rotateX(-90deg) translateZ(90px);
  }
  
  @keyframes rotate {
    from {
      transform: rotateX(-20deg) rotateY(-10deg);
    }
  
    50% {
      transform: rotateX(20deg) rotateY(320deg);
    }
  
    to {
      transform: rotateX(-20deg) rotateY(-20deg);
    }
  }

.center-body{
  align-items: center;
}

 /* Estilizando a sobreposição */
 .modal-overlay {
  position: flex;
  top: 0;
  left: 0;
  width: 45%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.359); /* Fundo escuro com transparência */
  display: flex;
  justify-content: center;
  justify-self: start;
  align-items: center;
}

/* Estilo do conteúdo da janela */
.modal-content {
  background-color: rgba(0, 106, 255, 0.668);
  height: max-content;
  padding: 20px;
  border-radius: 8px;
  text-align:start;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}


/* HTML
  <div class="cube">
      <div class="face face--front">Inovação</div>
      <div class="face face--right">Qualidade</div>
      <div class="face face--back">Desempenho</div>
      <div class="face face--left">Efetividade</div>
      <div class="face face--top">Organização</div>
      <div class="face face--bottom">Inteligência</div>
  </div>
*/

.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto; /* Centraliza o formulário */
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-control {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 90%; /* Ajuste conforme necessário */
  max-width: 600px;
  max-height: 80vh; /* Define uma altura máxima */
  overflow-y: auto; /* Ativa o scroll vertical */
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}


.client-table {
  margin-top: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.wc-box {
  position: relative; /* Para que o botão seja posicionado em relação à janela modal */
}

.wc-box .close {
  justify-content: center;
  right: 6px;
  width: 70px; /* Largura do botão */
  height: 30px; /* Altura do botão */
  cursor: pointer;
}

.wc-box .close:before,
.wc-box .close:after {
  width: 100%;
  height: 3px;
  background-color: #000000; /* Cor da linha do 'X' */

}

.wc-box .close:before {
  transform: rotate(45deg);  /* Define a primeira linha diagonal */
}

.wc-box .close:after {
  transform: rotate(-45deg); /* Define a segunda linha diagonal */
}

.wc-box .close:hover {
  background-color: #E04343;
}

.wc-box .closetwo:hover {
  background-color: #3068f8;
}

.wc-box div:hover:after,
.wc-box div:hover:before {
  border-color: #333333;
}

.wc-box .close:hover:after,
.wc-box .close:hover:before {
  border-color: #FFFFFF;
}

.row-texto{
  font-size: 14px;
  color:#000000;
  font-family: Arial, Helvetica, sans-serif;
}

.row-divida{
  background-color: #E04343;
}

.row-ativo{
  background-color: #4CAF50;
}

.butons-select{
  /*justify-content: */
  flex-direction: row;
  align-items: baseline;
  /*
  position:absolute;
  */
}

.appearance-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-position: 218px center;
  width: 75px;
  height: 30px;
  border: 1px solid #ddd;
  content: icon;
}

.form-control-normal {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 225px;
}

.size-matters{
  font-size: 15px;
  width: 175px;
}

.pad{
  padding: 20px;
}

/* From Uiverse.io by zebra76966 */ 
buttonadd {
  border: none;
}

.c-buttonadd {
  background: linear-gradient(140deg, rgba(75, 118, 200, 1) 0%, rgba(31, 70, 145, 1) 100%);
  border-radius: 23px;
  font-size: 12px;
  text-align: left;
  padding: 5px 0px 11px 0px;
  border: 4px solid rgb(37, 37, 37) !important;
  border-style: outset;
  box-shadow: -6px -5px 18px rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.c-buttonadd .c-main {
  border-radius: 22px;
  color: rgba(255, 255, 255, 1);
  padding: 11px 25px 11px 2px;
  box-shadow: inset 0px 0px 5px rgba(17, 17, 17, 0);
  transition: all 0.5s ease-in-out;
  border: 1px solid transparent;
}

.c-ico .c-blur {
  background: linear-gradient(318deg, rgba(75, 118, 200, 1) 0%, rgba(31, 70, 145, 1) 100%);
  border-radius: 100%;
  margin-left: 0;
  padding: 4px 11px;
  filter: blur(1px);
  text-align: center;
}

.c-ico {
  position: relative;
  margin-right: 5px;
}

.c-ico .ico-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Hovering */

.c-buttonadd .c-main:hover {
  box-shadow: inset 0px 0px 5px rgba(17, 17, 17, 0.6);
  border: 1px solid rgba(26, 26, 26,0.5);
  color: rgba(255, 255, 255, 0.5);
}
